#bank-li {
  list-style-type: "💳";
  padding-inline-start: 0.5em;
}

#driving-li {
  list-style-type: "🚗";
  padding-inline-start: 0.5em;
}

#vote-li {
  list-style-type: "🗳️";
  padding-inline-start: 0.5em;
}

#sign-li {
  list-style-type: "✍️";
  padding-inline-start: 0.5em;
}

#work-li {
  list-style-type: "💼";
  padding-inline-start: 0.5em;
}

#legal-li {
  list-style-type: "⚖️";
  padding-inline-start: 0.5em;
}

#online-li {
  list-style-type: "😉";
  padding-inline-start: 0.5em;
}

#liquor-li {
  list-style-type: "🍷";
  padding-inline-start: 0.5em;
}

#adoption-li {
  list-style-type: "👶";
  padding-inline-start: 0.5em;
}

#marriage-li {
  list-style-type: "💍";
  padding-inline-start: 0.5em;
}
